.Articles {
  &__text {
    margin-bottom: 2rem;
  }

  &__list-item {
    margin: 3rem;
    padding: 1rem 3rem;
    border: 2px solid #fff;
    text-align: center;
    background: black;
    height: 100%;

    &:hover {
      background-color: rgb(12, 0, 65)
    }
  }


  a {
    text-decoration: none;
    color: white;

    :hover {
      color: #ff0;
    }
  }
}